.header {
    height: 10vh;
    background: #4285f4;
} 
.main-menu {
    width: 10vh;
    float: left;
	position:absolute;
    left:0px;
    top:0;
}
.logo
{
	margin: 2vh 0;
	font: 5vh Caveat;
	color: white;
}
.svg-container {
	width: 6vh;
	height: 6vh;
	margin: 2vh;
	border-radius: 50%;
	border-style: solid;
	border-width: 0;
    outline: none;
    top:-2vh;
}
.svg-container.menu {
}
.svg-container-plus {
	width: 6vh;
	height: 6vh;
	margin: 2vh;
	border-radius: 50%;
	border-style: solid;
	border-width: 0;
    outline: none;
    top:-2vh;
	left:-5vh;
	position:relative;
}
.search-menu {
    overflow: hidden;
	position:absolute;
	left:10vh;
    top:0;
}
.record-selector-index {
	position:absolute;
    right:12vh;
    top:0;
	margin: 3vh 0;
	font: 4vh monospace;
	color:white;
}
.record-selector-close {
	position:absolute;
    right:0px;
    top:0;
}
.svg-container svg {
	cursor: pointer;
    position: absolute;
    top: 2vh;
    left: 2vh;
    width: 6vh;
}
.flip {
	-webkit-perspective: 300;
	width: 100%;
	height: 80vh;
	top:10vh;
	position:absolute; 
}
.flip-login {
	-webkit-perspective: 300;
	width: 100%;
	height: 100vh;
	top:0;
	position:absolute; 
}
.flip .item.flipped {
	-ms-transform: rotatey(-180deg);
	-webkit-transform: rotatey(-180deg);
	transform: rotatey(-180deg);
}
.flip .item {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.flip .item .face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden ;
	z-index: 4;
	text-align: center;
	line-height: 80vh;
}
.flip .item .front {
	position: absolute;
	z-index: 3;
	background: -webkit-repeating-linear-gradient(-45deg, #f8f8f8, #f8f8f8 10px, #fff 10px, #fff 20px);
	background: repeating-linear-gradient(-45deg, #f8f8f8, #f8f8f8 10px, #fff 10px, #fff 20px);
	color: white;
	cursor: pointer;
}
.flip .item .back {
	-ms-transform: rotatey(180deg);
	-webkit-transform: rotatey(180deg);
	transform: rotatey(180deg);
	background-color: white;
	color: black;
	cursor: pointer;
}
textarea {
	background: transparent;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    white-space: normal;
	text-align: center;
	-moz-text-align-last: center; /* Firefox 12+ */
	text-align-last: center;
	vertical-align:middle;
    left: 0; 
    top: 0; 
    right: 0;
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    font-size: 10vh;
    color: #333;
}
.footer {
    height: 10vh;
	bottom:0;
}
.record-selector {
    width: 10vh;
	float:left;
}
.record-selector-prev {
    background: #4285f4;
	position:absolute;
    left:0px;
    bottom:0;
}
.record-selector-prev-index {
    background: #4285f4;
	position:absolute;
    left:12vh;
    bottom:0;
	margin: 2.5vh 0;
	font: 4vh monospace;
	color:white;
}
.record-selector-next {
    background: #4285f4;
	position:absolute;
    right:0px;
    bottom:0;
}
.record-selector-next-index {
    background: #4285f4;
	position:absolute;
    right:12vh;
    bottom:0;
	margin: 2.5vh 0;
	font: 4vh monospace;
	color:white;
}
.record-selector-center {
    background: #4285f4;
    height: 10vh;
	float:left;
	position:absolute;
    left:-5vh;
    bottom:0;
    width:100%;
    overflow: hidden;
}
.record-selector-add {
	position:absolute;
    left:50%;
    bottom:0;
}

